
.root {
	-fx-font-family: 'Consolas';
	-fx-background-color: white;
}

.scroll-pane .viewport, .accordion {
-fx-background-color: white;	
}

.root-view {
	-fx-background-color: derive(black, 20%);
	-fx-padding:10px 2px 10px 10px;
}
.root-view * {
	-fx-font-family: 'Arial Rounded MT';
	-fx-fill: white;
}
.root-view .full-path-text {
	-fx-font-size: 3em;
}
.root-view .size-text {
	-fx-font-size: 0.85em;
	-fx-font-family: 'Consolas';
}
.root-view .drive-warning-text-2 {
-fx-font-size: 0.95em;
-fx-fill:yellow;
}

#task-text {
	-fx-padding:5;
	-fx-font-size: 2em;
	-fx-background-color: white;
}
.config-view {
	-fx-padding: 2 0 10 0;
}

.config-view  .container{
	-fx-hgap: 10;
	-fx-vgap: 5;
	-fx-padding: 10;
}

.config-view .title {
	-fx-background-color: lightblue  ;
    -fx-border-width: 1 0 0 0;
	-fx-border-color: black;
	-fx-font-size: 1.3em;
	-fx-padding: 5 5 5 10;
	-fx-wrap-text: true;
}

.config-view .summery {
	-fx-padding: 10 0 0 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
	-fx-halignment: center;
}
.config-view .header {
	-fx-border-width: 0 0 0.3 0;
	-fx-border-color: black;
}
.config-view.disable .title {
	-fx-background-color: maroon;
	-fx-text-fill:white;
}
.config-view.disable .disable-text {
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-fill:crimson;

}
.config-view.completed .title {
	-fx-background-color: teal;
	-fx-text-fill:white;
}

.config-view.completed .completed-text {
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-fill:green;

}
.config-view .tree-view {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: black;
	-fx-background-color: null;	
}
.center-view, .center-view .top {
	-fx-background-color: white;
}
.center-view, .accordion {
	-fx-background-color: white;
	-fx-border-width: 0;
}
.center-view, .accordion {
	-fx-background-color: white;
	-fx-border-width: 0;
}
.center-view .scroll-bar {
	-fx-background-color: white;
	-fx-border-width: 0;
	-fx-padding: 2;
}
.center-view .scroll-bar .increment-arrow, .center-view .scroll-bar .decrement-arrow {
	-fx-background-color: transparent;
}
.center-view .scroll-bar .thumb {
	-fx-background-color: white;
	-fx-border-width: 1;
	-fx-border-radius: 50%;
	-fx-border-color: black;
}
.center-view .btn {
	-fx-font-size: 1.5em;
	-fx-padding: 3px;
	-fx-alignment: center;
	-fx-border-width: 0 0.5 0 0;
	-fx-border-color: black;
}
.center-view .btn.active {
	-fx-border-width: 0 0 2 0;
	-fx-border-color: linear-gradient(to left, springgreen, derive(springgreen, 80%), springgreen);
}

.status-view {
	-fx-padding: 10, 5, 10, 5;
	-fx-background-color: derive(white, -3%);
}
.status-view .speed {
	-fx-font-family: 'Franklin Gothic';
	-fx-font-size: 2em;
	-fx-padding: 0 15 0 0;
}
.status-view .text{
	-fx-font-size: 0.8em;
}

#start-btn, #cancel-btn {
	-fx-padding:8 20 8 20;
	-fx-background-color: #3AE2CE;
	-fx-text-fill:white;
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}
#start-btn:armed {
	-fx-background-color: #00FFFF;
}
#cancel-btn {
	-fx-background-color: crimson;
}
.copying-view {
	-fx-background-color:white;
	-fx-padding: 10 5 10 5;
}
.copying-view .header {
	-fx-font-size:1.2em;
	-fx-padding:10 0 2 0;
}
.copying-view .text {
	-fx-font-size:0.8em;
	-fx-font-family:Consolas;
}
.copying-view  .progress-bar{
	-fx-accent:springgreen;
	-fx-border-width: 0;
	-fx-padding: 0 0 2 0;
}

.custom-btn {
	-fx-padding:5 10 5 10;
	-fx-border-width: 1;
	-fx-border-color:black;
	-fx-border-radius: 5%;
	-fx-min-width: 70;
	-fx-alignment: center;
}
.custom-btn:hover {
	-fx-background-color: derive(white, -5%);
	-fx-scale-x: 1.01;
	-fx-scale-y: 1.01;
}
.custom-btn:armed {
	-fx-background-color: derive(white, -25%);
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
}
.listing-view {
	-fx-background-color: white;
	-fx-spacing:5;
	-fx-padding:5;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}
.listing-view .header {
	-fx-font-size: 1.2em;
}

